@import "tailwindcss";

@theme
{
        --color-primary: #ff5252;
    
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background: #ff5252;
}

::-webkit-scrollbar-track {
    background: #fff;
}

.container
{
    width: 95%;
    margin: auto;
}



body
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.7);
  overflow-x: hidden;
}


.link:hover
{
    color: #ff5252;
}

.MuiBadge-badge{
    background-color: #ff5252 !important;
}

nav ul button{text-transform: capitalize !important;
    color: aqua !important;
font-weight:bold !important;}


.sliderHome {
    overflow: inherit !important;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius:100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 22px !important;
    color: #000;

}

.homeCatSlider {
    overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next
{
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev:after, .homeCatSlider .swiper-button-next:after {
    font-size: 18px !important;
}

.homeCatSlider .swiper-button-prev {
    left: -10px !important;
}


.homeCatSlider .swiper-button-next {
    right: -10px !important;
}

.homeCatSlider .item {
    border: 1px solid rgba(0,0,0,0.1);
}

.homeCatSlider .swiper-button-prev:hover, .homeCatSlider .swiper-button-next:hover{
    background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover::after, .homeCatSlider .swiper-button-next:hover::after{
    color: #fff !important;
}

