@import "tailwindcss";

@theme
{
        --color-primary: #ff5252;
    
}
.container
{
    width: 90%;
    margin: auto;
}

header .top-strip 
{
   }

body
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  
  
}

bg-org
{
    background: #ff5252;
}

.link:hover
{
    color: #ff5252;
}